<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Api Otel Admin Paneli</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/templates/adminweb/images/favicon.png">
    <link href="~/templates/adminweb/css/style.css" rel="stylesheet">
    <link href="~/templates/adminweb/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/templates/adminweb/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/templates/adminweb/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">

    <link href="~/templates/adminweb/css/style.css" rel="stylesheet">
</head>