@model List<HotelProject.EntityLayer.Concrete.AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container">

    <div class="table-responsive mt-3">
        <h1 class="card-title text-muted mb-4">Rol Listesi</h1>
        <a href="/Role/AddRole" class="btn btn-outline-primary"><i class="fa fa-plus"> </i> Yeni Rol Ekle</a>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rol Adı</th>
                    <th colspan="2" class="text-center" scope="col">İşlemler</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                count++;
                <tbody>
                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td style="width:40px">
                            <span>
                                <button onclick="deleteRole(@item.Id)" class="btn btn-outline-danger" ><i class="fa fa-trash"></i> Sil</button>
                            </span>

                        </td>
                        <td style="width:40px">
                            <span>
                                <a href="/Role/UpdateRole/@item.Id" class="btn btn-outline-success" ><i class="fa fa-pencil m-r-5"></i> Güncelle</a>
                            </span>
                        </td>
                      
                    </tr>
                </tbody>

            }

        </table>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   
    function deleteRole(id) {
        Swal.fire({
            title: "Kayıt Silme Onayı",
            html: "Bu Rol kaydını silmek istediğinize emin misiniz? <br><b> not : işlem geri alanımaz.</b>",
            icon: "info",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Sil",
            cancelButtonText: "Vazgeç"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Role/DeleteRole/" + id;
            }
            else {
                Toast.fire({
                    icon: "warning",
                    title: "Kayıt Silme işlemi iptal edildi."
                });
            }
        });
    }
</script>
@await Html.PartialAsync("~/Views/AdminLayout/NotificationPartial.cshtml")


