@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container">

    <div class="table-responsive mt-3">
        <h1 class="card-title text-muted mb-4">Hakkımızda Listesi</h1>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Başlık1</th>
                    <th scope="col">Başlık2</th>
                    <th class="text-center" scope="col">İşlem</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                count++;
                <tbody>
                    <tr>
                        <td>@count</td>
                        <td style="text-transform:capitalize">@item.Title1</td>
                        <td style="text-transform:capitalize">@item.Title2</td>

                        <td style="width:40px">
                            <span>
                                <a href="/AdminAbout/UpdateAbout/@item.AboutUsID" style="outline:none; border:none; background-color:transparent; cursor:pointer " data-toggle="tooltip" data-placement="top" title="Güncelle"><i class="fa fa-edit text-success"></i></a>
                            </span>
                        </td>
         
                    </tr>
                </tbody>

            }

        </table>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@await Html.PartialAsync("~/Views/AdminLayout/NotificationPartial.cshtml")

