@using HotelProject.WebUI.Models.Setting;
@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<div class="container">
    <h1 class="card-title text-muted mb-4">Profil Bilgilerim</h1>
    <form method="post">
        <label>Ad Soyad</label>
        <input type="text" asp-for="NameSurname" class="form-control" />
        <span asp-validation-for="NameSurname" class="text-danger"></span>
        <br />
        <label>Kullanıcı Adı</label>
        <input type="text" asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
        <br />
        <label>E Mail Adresiniz</label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />
        <label>Şifreniz</label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <label>Şifreniz Yeniden</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <br />
        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i> Güncelle</button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@await Html.PartialAsync("~/Views/AdminLayout/NotificationPartial.cshtml")