@model CreateTestimonialViewModel
@{
    ViewData["Title"] = "AddTestimonail";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container">
    <h1 class="card-title text-muted mb-4">Yeni referans ekleme sayfası</h1>
    <form method="post" enctype="multipart/form-data">
        <label>Personel Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />
        <br />
        <label>Personel Ünvanı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
        <br />
        <label>Görsel Seçiniz. (<i>Desteklenen Uzantılar: .png - .jpeg  - .jpg</i>)</label>
        <input type="file" asp-for="FromFileImage" class="form-control-file" />
        <span asp-validation-for="FromFileImage" class="text-danger"></span>
        <br />
        <textarea asp-for="Description" rows="10" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <br />
        <button class="btn btn-outline-primary"><i class="fa fa-plus"></i> Ekle</button>
    </form>
</div>