@{
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!DOCTYPE html>
<html lang="tr">

<body>

    @await Component.InvokeAsync("_SpinnerComponentPartial")



    @await Component.InvokeAsync("_CarouselComponentPartial")

  @*   @await Component.InvokeAsync("_ReservationComponentPartial") *@

    @await Component.InvokeAsync("_AboutComponentPartial")

    @await Component.InvokeAsync("_RoomComponentPartial")

    @await Component.InvokeAsync("_VideoComponentPartial")

    @await Component.InvokeAsync("_ServiceComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

    @await Component.InvokeAsync("_StaffComponentPartial")

    @await Component.InvokeAsync("_NewsLetterComponentPartial")

</body>

</html>