@model CreateStaffViewModel
@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="container">
    <h1 class="card-title text-muted mb-4">Yeni personel ekleme sayfası</h1>
    <form method="post">
        <label>Personel Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />
        <label>Personel Ünvanı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
        <br />
        <label>Sosyal Medya 1</label>
        <input type="text" asp-for="SocailMedia1" class="form-control" />
        <span asp-validation-for="SocailMedia1" class="text-danger"></span>
        <br />
        <label>Sosyal Medya 2</label>
        <input type="text" asp-for="SocailMedia2" class="form-control" />
        <span asp-validation-for="SocailMedia2" class="text-danger"></span>
        <br />
        <label>Sosyal Medya 3</label>
        <input type="text" asp-for="SocailMedia3" class="form-control" />
        <span asp-validation-for="SocailMedia3" class="text-danger"></span>
        <br />
        <button class="btn btn-outline-primary"><i class="fa fa-plus"></i> Ekle</button>
    </form>
</div>
